:root {

    /*primary color*/
    --primary-950: #052e16;
    --primary-900: #14532d;
    --primary-800: #166534;
    --primary-700: #15803d;
    --primary-600: #16a34a;
    --primary-500: #22c55e;
    --primary-400: #4ade80;
    --primary-300: #86efac;
    --primary-200: #bbf7d0;
    --primary-100: #dcfce7;
    --primary-50: #f0fdf4;

    /*secundary color*/
    --secundary-950: #082f49;
    --secundary-900: #17448e;
    --secundary-800: #2f589a;
    --secundary-700: #476ca7;
    --secundary-600: #5f80b3;
    --secundary-500: #7794c0;
    --secundary-400: #8fa7cd;
    --secundary-300: #a7bbd9;
    --secundary-200: #bfcfe6;
    --secundary-100: #d7e3f2;
    --secundary-50: #eff6ff;


    /*terciary color*/
    --tertiary-950: #7f1d00;
    --tertiary-900: #c0520c;
    --tertiary-800: #c76425;
    --tertiary-700: #ce773e;
    --tertiary-600: #d58957;
    --tertiary-500: #dc9c70;
    --tertiary-400: #e3ae89;
    --tertiary-300: #eac1a2;
    --tertiary-200: #f1d3bb;
    --tertiary-100: #f8e5d4;
    --tertiary-50: #fff7ed;


    /* Basic color*/
    --white: #fff;
    --black: #000;
    --gray-950: #101010;
    --gray-900: #262626;
    --gray-800: #3B3B3B;
    --gray-700: #515151;
    --gray-600: #676767;
    --gray-500: #7D7D7D;
    --gray-400: #929292;
    --gray-300: #A8A8A8;
    --gray-200: #BEBEBE;
    --gray-100: #D4D4D4;
    --gray-50: #E9E9E9;

	/* Font-family */
	--main-font: 'Arial', sans-serif;
		

    /* Font-size */
    --fs-xxxxl: 8.0rem; /* Ultra grande */
    --fs-xxxl: 6.4rem; /* Súper grande */
    --fs-xxl: 4.8rem; /* Extra grande */
    --fs-xl: 4.0rem;  /* Muy grande */
    --fs-lg: 3.2rem;  /* Grande */
    --fs-md: 2.4rem;  /* Mediano */
    --fs-sm: 2.0rem;  /* Pequeño */
    --fs-xs: 1.6rem;  /* Extra pequeño */
    --fs-xxs: 1.4rem; /* Extra extra pequeño */
    --fs-xxxs: 1.2rem; /* Mínimo */
}