<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <header class="header">
    <h1 class="navbar__title">
        Jasmin Vera
        <span class="navbar__subtitle">Papitas Fritas</span>
    </h1>

    <div class="navbar-container">
        <nav class="navbar">
            <ul class="navbar_list">
                <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a></li>
                <li class="navbar__item"><a href="clients.html" class="navbar__link">Clientes</a></li>
                <li class="navbar__item"><a href="about.html" class="navbar__link">Sobre mi</a></li>
                <li class="navbar__item"><a href="contact.html" class="navbar__link">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <div>Estoy en clientes</div>
    </header>
</body>
</html>